<p id="notice"><%= notice %></p>

<h3><center>
  <%= @chaper.title %>
</center></h3>
 
<p>

  <%= markdown(@chaper.description) %>
</p>

 <% if @chaper.parts.count > 0%>
 <div class="panel callout radius">
  <h3>
    <strong><center><%= @chaper.parts.first.name %></center></strong>
    
  </h3>
 
  <p>
   
    <%= markdown(@chaper.parts.first.body) %>
  </p>
  </div>
<%end%>

 


<% if user_signed_in? && ((current_user.role_ids == [1] ) || (current_user.id == @chaper.user_id))%>
<%= link_to 'New Part', new_chaper_part_path(@part,  chaper_id: @chaper.id), class: "button radius" %>
 

<%= link_to 'Edit', edit_chaper_path(@chaper) , class: "button radius"%> 
<% end %>
<% if @chaper.parts.count > 1 %>
<%= link_to 'Next Part', chaper_part_path(id: "#{@chaper.parts.ids[1]}", chaper_id:params[:id]), class: "button radius" %>
<% end %>
<% if user_signed_in? %>
 <h2>Comments</h2>
<%= render @chaper.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<% end %>