
<h1>Listing parts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.name %></td>
        <td><%= part.body %></td>
        <td><%= link_to 'Show', chaper_part_path( id: part.id) %></td>
       
        <td><%= link_to 'Edit', edit_chaper_part_path(part,  chaper_id: @chaper.id) %> </td>
        <td><%= link_to 'Destroy', chaper_part_path(id: part.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
   
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    <% if user_signed_in? %>
<%= link_to 'New Part', new_chaper_part_path, class: "button radius" %>
<%end%>