<p id="notice"><%= notice %></p>

<div class="panel callout radius">
	<center><h3>
  <%= @part.name %>
</h3>
</center>



<p>
  <%= markdown(@part.body) %>
</p>
</div>
<% unless @part.id == @chaper.parts.ids.first%>
<%= link_to 'Last Part', chaper_part_path(id: last_part(@part.id), chaper_id:@chaper.id), class: "button radius" %>
<% end %>
<% unless @part.id == @chaper.parts.ids.last%>
<%= link_to 'Next Part', chaper_part_path(id: next_part(@part.id), chaper_id:@chaper.id), class: "button radius" %>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_chaper_part_path(@part,  chaper_id: @chaper.id), class: "button radius" %> 
<h2>Comments</h2>
<%= render @chaper.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<% end %>