<p id="notice"><%= notice %></p>

<p>
  <%= @part.name %>
</p>



<p>
  <%= markdown(@part.body) %>
</p>
<%= link_to 'Edit', edit_chaper_part_path(@part,  chaper_id: @chaper.id), class: "button radius" %> 
<% unless @part.id == @chaper.parts.ids.last%>
<%= link_to 'Next Part', chaper_part_path(id: next_part(@part.id), chaper_id:@chaper.id), class: "button radius" %>
<% end %>