<% title @gallery.name %>

<ul class="small-block-grid-3">
  <% for painting in @gallery.paintings %>
    <div class="painting">
      <%= image_tag painting.photo.url(:small)%>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_gallery_painting_path(painting.id, gallery_id:@gallery.id) %> |
        <%= link_to "remove", gallery_painting_path(painting.id, gallery_id:@gallery.id), :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
</ul>

<p>
  <%= link_to "Add a Painting", new_gallery_painting_path(:gallery_id => @gallery) %> |
  <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View Galleries", galleries_path %>
</p>
