<% title @gallery.name %>
<h3><%= @gallery.name %></h3>
<% if @gallery.paintings.count > 0 %>
  <ul class="example-orbit-content" data-orbit>
    <% for painting in @gallery.paintings %>
    <li data-orbit-slide="headline-1">
      <div><center>
        <h2><%= painting.name %></h2>
        <% if painting.photo_file_name %>
        <%= image_tag painting.photo.url(:small)%>
        <% else %>
        <%= image_tag painting.photo_remote_url %>
        <% end %>
      </center>  
      </div>
    </li>
    <% end %>
  </ul>
<% end %>
</br>
</br>

<div class = "row">
  <% for painting in @gallery.paintings %>
  <div class="panel callout radius small-block-grid columns " >
    <div class="painting">
      <center>
      <% if painting.photo_file_name %>
      <%= image_tag painting.photo.url(:small)%>
      <% else %>
      <%= image_tag painting.photo_remote_url,  height: '300', width: '350' %>
      <% end %>
    </center>
      <div><center>
        <% if user_signed_in? && ((current_user.role_ids == [1] ) || (current_user.id == @gallery.chaper.user_id))%>
          <div class="name"><%= painting.name %></div>
          <div class="actions">
            <%= link_to "edit", edit_gallery_painting_path(painting.id, gallery_id:@gallery.id) %> |
            <%= link_to "remove", gallery_painting_path(painting.id, gallery_id:@gallery.id), :confirm => 'Are you sure?', :method => :delete %>
          </div>
        <% end %>
      </center>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class= "row">
<center>
<% if user_signed_in? && ((current_user.role_ids == [1] ) || (current_user.id == @gallery.chaper.user_id))%>
  <div class=" small-4 columns ">
    <%= link_to "Add a Painting", new_gallery_painting_path(:gallery_id => @gallery) ,class: "button radius"%> 
  </div>
  <div class=" small-4 columns ">  
    <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete ,class: "button radius"%>
  </div>
  <div class=" small-4 columns ">
    <%= link_to "View Galleries", galleries_path, class: "button radius"%>
  </div>
<% end %>
</center>
</div>